.header-hero-carousel .custom-header::after {
    background-color: $mlk-bg-inverse;
    bottom: 0;
    content: "";
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
}
