.header-hero-video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    position: relative
}

.header-hero-video__icon-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh
}

.header-hero-video img {
    max-width: none
}

.header-hero-video__icons {
    position: absolute;
    -webkit-transform: translate(0%, 5%);
    transform: translate(0%, 5%);
    left: 0;
    top: 0;
    width: 2484px
}

.js .header-hero-video__icons {
    opacity: 0
}

.header-hero-video__icons--repeater {
    -webkit-transform: translate(0%, -100%);
    transform: translate(0%, -100%)
}

.header-hero-video__ocean {
    position: absolute;
    top: 0
}

.header-hero-video #video-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 70vh;
    min-height: 400px;
    width: 100%
}

.header-hero-video #video-container:after {
    background-color: $mlk-bg-inverse;
    bottom: 0;
    content: "";
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0
}

.header-hero-video #video-container .hero-video {
    z-index: 0 !important
}

#watch-vimeo-video {
    background-image: url("../images/play-button@2x.png");
    background-size: 60px auto;
    display: inline-block;
    height: 60px;
    width: 60px
}

#watch-vimeo-video:hover {
    opacity: 0.8
}

#hero-vimeo-video.hero-vimeo-video-on .close-hero-vimeo-video {
    display: inline-block
}

#hero-vimeo-video .close-hero-vimeo-video {
    display: none;
    background-image: url("../images/close-button@2x.png");
    background-size: 10px auto;
    height: 10px;
    width: 10px;
    position: absolute;
    left: 20px;
    top: 20px
}

#hero-vimeo-video .close-hero-vimeo-video:after {
    content: "";
    position: absolute;
    width: 2.625em;
    height: 2.625em;
    display: block;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 6.25em;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease
}

#hero-vimeo-video .close-hero-vimeo-video:hover:after {
    background: rgba(255,255,255,0.2)
}
